extends layout

block head
  script(src='index.js')

block content
  .live-preview

  h1.recording Recording

  ul.options
    li.gif
      .content
        .table
          .table-cell
            h2 Gif
    li.slowmo
      .content
        .table
          .table-cell
            h2 SlowMo
    li.fastmo
      .content
        .table
          .table-cell
            h2 FastMo
    li.reverse
      .content
        .table
          .table-cell
            h2 Reverse-O
