extends layout

block head
  link(rel='stylesheet' href='index.css')

block content
  .state.ready
    img.live-feed(src='/live-feed.jpg')
    
    .ui-container
      .instructions Select as many filters as you like below. Pull the lever to begin recording.
      ul.options
        li.gif.option
          .filter Gif
          .line
        li.slowmo.option
          .filter Slo-Mo
          .line
        li.reverse.option
          .filter Reverse
          .line


  .state.countdown
    .countdown-screen.go
    .countdown-screen.one
    .countdown-screen.two
    .countdown-screen.three
    
    
  .state.recording
  
  .state.done
  
  .state.processing

  script(src='index.js')
