extends layout

block head
  link(rel='stylesheet' href='index.css')

block content
  .state.ready
    img.live-feed(src='/live-feed.jpg')

    ul.options
      li.gif.option
        .content
          .table
            .table-cell
              h2 Gif
      li.slowmo.option
        .content
          .table
            .table-cell
              h2 SlowMo
      li.reverse.option
        .content
          .table
            .table-cell
              h2 Reverse-O

  .state.countdown
    h1 3
    
  .state.recording
    h1 Recording
  
  .state.processing
    h1 Processing, please wait very very patiently

  script(src='index.js')
