body{
  font-family: 'GT Walsheim';
}

.state, .countdown-screen{
  display: none;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
}
.state.ready{
  display: block;
}
.state.recording{
  background-image: url('/screens/recording.png');
}
.state.done{
  background-image: url('/screens/done.png');
}
.state.processing{
  background-image: url('/screens/processing.png');
}
.countdown-screen.one{
  background-image: url('/screens/countdown-1.png');
}
.countdown-screen.two{
  background-image: url('/screens/countdown-2.png');
}
.countdown-screen.three{
  background-image: url('/screens/countdown-3.png');
}
.countdown-screen.prep{
  background-image: url('/screens/prep.png');
}



.state.ready .live-feed{
  width: 100%;
  height: 100%;
}
.state.ready .ui-container{
  position: absolute;
  height: 30%;
  width: 100%;
  background-color: rgba(255,255,255,.75);
  bottom: 0;
  box-shadow: 0px -3px 2px rgba(0,0,0,.25);
  -webkit-transition: all .3s;
}
.state.ready .ui-container.hide{
  bottom: -30%;
}
.state.ready .options{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 75%;
  margin: auto;
  overflow:hidden;
}
.state.ready .instructions{
  color: #363636;
  text-align: center;
  margin: 40px 0;
  font-size: 140%;
  font-weight: 500;
}


.state.ready li{
  width: 33.3%;
  float: left;
  display: block;
  font-size: 125%;
}
.state.ready .filter, .state.ready .line{
  -webkit-transition: all .3s;
}
.state.ready .line{
  background-color: #363636;
  height: 300px;
  width: 4px;
  margin-left: 50%;
}
.state.ready .filter{
  background-color:#363636;
  border-radius: 40px;
  text-align: center;
  padding: 20px 0px;
  width: 65%;
  font-weight: 100;
  margin: auto;
  text-transform: uppercase;
}
.state.ready li.highlight .filter, .state.ready li.highlight .line{
  background-color: #ff0000;
}
