.options{
  width: 100%;
  position: absolute;
  bottom: 2%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.options li{
  width: 30%;
  float: left;
  padding-bottom: 30%;
  position: relative;
  overflow: hidden;
  display: block;
  margin-left: 2.25%;
  background-image: url('/dance-party.jpg');
}
.options .content{
  position: absolute;
  width: 90%;
  padding: 5%;
  height: 90%;
}


h2{
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 90%;
  text-shadow: 1px 1px 1px black;
  font-size: 300%;
}
.table{
  display: table;
  width: 100%;
}
.table-cell{
  display: table-cell;
}
